@model _200393765_quiz.Models.Car
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
ID - @Model.ID
Brand - @Model.Brand
Model - @Model.Model
Type - @Model.Type
Year - @Model.Year

